<!DOCTYPE html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css' rel='stylesheet'>
    <title>{{personal.nom}} - {{personal.profession}}</title>
  </head>
  <body>
    <div id='main-wrapper'>
      <div id='information'>
        <div id='bio'>
          <figure>
            <img src="{{personal.picture}}">
          </figure>  
          <div>
            <h1>{{personal.nom}}</h1>
            <span class='job'>{{personal.profession}}</span>
            <span class='location'><i class="fa fa-map-marker"></i> {{personal.location.ville}}, {{personal.location.pays}}</span>
          </div> 
        </div>
        <section id='profil'>
          <h2>Profil</h2>
          <div class='wrapper'>
            <p>{{personal.profil}}</p>
          </div>
        </section>
        <section class='lists' id='exp'>
          <h2>Formations et Diplomes</h2>
          <div class='wrapper'>
            <ul>
            {{#exp}}           
              <li>
                <h3>{{title}}</h3>
                <span>{{start}} - {{end}}</span>
                <p>{{desc}}</p>     
              </li>          
            {{/exp}}  
            </ul> 
          </div>
        </section>
        <section class='lists' id='education'>
          <h2>Expériences professionnelles</h2>
          <div class='wrapper'>
            <ul>
            {{#edu}}           
              <li>
                <div class="separ">
                  <h3>{{title}} </h3>
                  <h3>{{location}}</h3>
                </div>
                <span>{{start}} : {{end}}</span>
                <p>{{desc}}</p>     
              </li>          
            {{/edu}}  
            </ul>
          </div>
        </section>
      </div>
      <aside>
        <section id='details'>
          <h2>Details</h2>
          <div class='wrapper'>
            <ul>
              <li>{{details.birthday}}</li>
              <li>{{details.adress}}</li>
              <li>{{details.adress2}}</li>
              <li><a href='tel:{{details.phone}}'>{{details.phone}}</a></li>
              <li>
                <a href='mailto:{{details.email}}'>{{details.email}}</a>
              </li>
            </ul>
          </div>
        </section>
         <section>
          <h2>Compétence</h2>
          <div class='wrapper'>
            {{#comp}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul> 
            {{/comp}} 
          </div>
        </section>
        <section>
          <h2>Langues</h2>
          <div class='wrapper'>
            {{#lang}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul> 
            {{/lang}} 
          </div>
        </section>
        <section>
          <h2>Technologies</h2>
          <div class='wrapper'>      
            {{#tech}}
            <ul>
              <li>
                <p>{{name}}</p>
                <div class="skillbar">
                    <div class='fill' style='width:{{level}}%;'></div>
                </div>
              </li>
            </ul> 
            {{/tech}}      
          </div> 
        </section>
      </aside>
      <footer>
        {{! Social Links Here }}
        <span>
          <ul>
            <li class="copy">Mahamadou Sissoko &copy;2020 |
               <a href='https://gitlab.com/siska75/' rel='external' target='_blank'>Source</a>
            </li>
            {{#links}}

              <li>
                <a href='{{link}}' rel='external' target='_blank'><i class="fa {{icon}} fa-2x"></i></a>
              </li>
          
            {{/links}} 
          </ul>
        </span>
      </footer>  
    </div>
  </body>
</html>
